//============site color=========//
//banner color
$main-color: #34495e !default; //#00bcd5
//header and footer font color
$theme-font-color: #FFF !default;
//header background color
$nav-color: rgba(11, 63, 92, 0.8) !default; //rgba(0,188,213,.9)
//theme's main red color
$main-red: #f6695f !default;
//post font color
$main-font-color: #37474F !default;
// footer copyright-color
$copyright-color: #37474F !default;
// content width
$main-width: 960px !default;
//footer height
$footer-height: 170px !default;

//font-family
@import url("https://fonts.googleapis.com/css?family=Play");
@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One");
@import url("https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css");

// Font family of the site.
$global-font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif !default;

// Serif font family of the site.
$global-serif-font-family: Athelas, STHeiti, Microsoft Yahei, serif !default;

//art font family
$art-font: 'Julius Sans One', cursive, LiSu, sans-serif !default;

//logo font family
$logo-font: 'Play', cursive !default;

//heading font size
$global-headings: (
  h1: 26px,
  h2: 24px,
  h3: 20px,
  h4: 16px,
  h5: 14px,
  h6: 14px
) !default;
@each $header, $size in $global-headings {
  #{$header} {
    font-size: $size;
    font-family: $global-serif-font-family;
  }
}
