.back-to-top {
  text-align: center;
  opacity: 0;
  position: fixed;
  right: 80px;
  bottom: 40px;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 10px rgba(0,0,0,.2);
  transition: all .3s ease-out;
  z-index: 10;
  transition: all .3s ease-out;
  cursor: pointer;
  &:hover {
    transform: translateY(-5px);
  }
  i{
    display: inline-block;
    padding-top: 5px;
    font-size: 30px;
  }
}

.show{
  opacity: 1;
}